/SecureCookies/SecureCookies/bin
/SecureCookies/SecureCookies/obj
/PerfSurf/PerfSurf/bin
/PerfSurf/PerfSurf/obj
/PatientData/PatientData/bin
/PatientData/PatientData/obj
/Optimitzation/Optimitzation/bin
/Optimitzation/Optimitzation/obj
/KotanaService/KotanaService/obj
/KotanaService/KotanaService/bin
/Identity/Identity/bin
/Identity/Identity/obj
/Books/Books.Web/bin
/Books/Books.Web/obj
/AuthenticationRisk/AuthenticationRisk/bin
/AuthenticationRisk/AuthenticationRisk/obj
/Fundamentals/CRUD/bin
/Fundamentals/CRUD/obj
/Fundamentals/LifeCycle/bin
/Fundamentals/LifeCycle/obj