
@{
    ViewBag.Title = "Filters";
}

<h2>Filters</h2>

<div class="jumbotron">
    <p>
        @{
            @Html.Raw(HttpContext.Current.Application["Order"]);
            HttpContext.Current.Application.Clear();
        }
    </p>
</div>